<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			<h1>About Me</h1>
		</div>
	</div>
	<div class="panel-body">
		<h4>Forrest Meade</h4>
		<h5>&nbsp;&nbsp;&nbsp;Software Developer</h5>
		<br />
		<p>Hi, My name is Forrest Meade.  I am a Software Developer at Radford University.  I enjoy creating side applications to learn different languages, such as this application to learn RoR. My favorite developing environment is a dual montitor PC with soft ass chair running Ubuntu. I use Sublime text with google chrome and the terminal at the moment. I like to make quick changes with Vim.  Lastly, I like to think I am the master of git but im not.  I feel I am decent at it though.</p>
		<br />
		<h5>Known Programming Languages</h5>
		<ul>
			<li>Java</li>
			<li>Ruby on Rails</li>
			<li>Ada</li>
			<li>Python</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>Javascript</li>
			<li>PHP</li>
		</ul>
		<br />

		<h5>Other Known Skills</h5>
		<ul>
			<li>Git</li>
			<li>Linux Shell</li>
			<li>Google Docs</li>
			<li>Fast development and learning</li>
			<li>Personal Management</li>
			<li>Time Management</li>
		</ul>
	</div>
	<div class="panel-footer">
		<%= link_to root_path do %>
				<span class="glyphicon glyphicon-home"></span>
				Home
				<% end %> &nbsp; | &nbsp;
				<a href="mailto:meadeforrest@gmail.com">Contact</a>
	</div>
</div>