<h4>Welcome <%= @name %>!</h4>

<p>Thanks for joning let's Pin!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Thanks! 
	<br /> &nbsp;&nbsp;
	Let's Pin Dev Team
</p>
